# Keep these files out of the repo
/wp-content/themes/twenty*
/wp-content/upgrade
/wp-content/uploads
/sitemap.*
/wp-config.php
*.sql
google7f53e803db67e970.html

# Hidden files
*.DS_Store
*Thumbs.db
*.sass-cache*
*~imageoptim*
